<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
</head>
<body>

<h1>Team Leader</h1>
<p>Chaemin Lim : <a href="mailto:maria2097@naver.com">maria2097@naver.com</a></p>

<h1>Team</h1>
<p>HaeChan Jung: <a href="mailto:gocks5393@naver.com">gocks5393@naver.com</a></p>
<p>JeongDayeong: <a href="mailto:day0_ng@naver.com">day0_ng@naver.com</a></p>
<p>SeungWon Jeong: <a href="mailto:bbigaa123@naver.com">bbigaa123@naver.com</a></p>

</body>
</html>
